{% extends 'base.html.twig' %}

{% block title %}Enchères{% endblock %}

{% block body %}
    <br><div class="app-bar pos-absolute bg-black z-2" >
    <div class="cell-md-4"><img width="100px" height="60px" src="{{ asset('logoCentrale.PNG')}}" style="position:center;top:-10px" alt="#"></div>
    <div class="cell-md-5 pos-fixed pos-top-right">
        <h2 style ="color: #FFFFFF; text-align: left;">Société: {{ fournisseur.societe }}</h2>
    </div>
</div>
    <div class="table striped table-border cell-border"><br>
        <p><table class="table table-border cell-border row-hover">
            <thead>
            <tr>
                <label>
                    <input type="text" value="recherche produits" class="w-50" style="height: 30px; width: 200px; float:right;" data-role="input" data-search-button="true">
                </label>
                <th><strong>Liste des Produits</strong></th>
                <th><strong>Quantité</strong></th>
                <th><strong>Enchere</strong></th>
                <th><strong>Votre Position</strong></th>
            </tr>
            </thead>
            <tbody>
            {% for lignePanier in lignesPaniers %}
                <tr>
                    <td>{{ lignePanier.reference }}</td>
                    <td>{{ lignePanier.quantite }}</td>
                    <td>
                        {%  set prix = 0 %}
                        {%  if lignePanier.encheres is not empty %}
                            {%  set prix = lignePanier.encheres[lignePanier.encheres|length-1].prixEnchere %}
                        {% endif %}
                        <div class="enchere">
                            <input class="w-50" id="lignePanier_{{ lignePanier.id }}" type="number" data-role="input" data-prepend="Saissez votre nouvelle enchère: " data-default-value="{{ prix }} "/>
                            <button id="valider_{{ lignePanier.id }}" class="button success outline small rounded btnEnchere" style="float: right" >valider</button>
                        </div>
                    </td>
                    <td><div class="cercle_vert"></div></td>
                </tr>
            {%  endfor  %}
            </tbody>
        </table>
    </div>
    <script src="{{ asset('assets/js/enchere.js') }}"></script>
{% endblock %}
