{% extends 'base.html.twig' %}

{% block title %}Enchères{% endblock %}

{% block body %}
    <br><div class="app-bar pos-absolute bg-black z-2" >
    <div class="cell-md-4"><img width="100px" height="60px" src="{{ asset('logoCentrale.PNG')}}" style="position:center;top:-10px" alt="#"></div>
    <div class="cell-md-5 pos-fixed pos-top-right">
        <h2 style ="color: #FFFFFF; text-align: left;">Société: {{ fournisseur.societe }}</h2>
    </div>
</div>
    <div class="table striped table-border cell-border"><br>
        <p><table class="table table-border cell-border row-hover">
            <div class="grid">
                <div class="row">
                    <div class="cell-1">
                        <div class="cercle_vert"></div>
                    </div>
                    <div class="cell">
                        <div>Votre enchère est inférieure aux enchères des autres fournisseurs</div>
                    </div>
                    <div class="cell-1">
                        <div class="cercle_orange"></div>
                    </div>
                    <div class="cell">
                        <div>Votre enchère est à égalité avec celle d'un autre fournisseur</div>
                    </div>
                    <div class="cell-1">
                        <div class="cercle_rouge"></div>
                    </div>
                    <div class="cell">
                        <div>Votre enchère est inférieure aux enchères des autres fournisseurs</div>
                    </div>
                </div>
            </div>
            <div data-role="accordion" data-one-frame="true" data-show-active="false">
                <div class="frame">
                    <div class="heading">Documentation</div>
                    <div class="content">
                        <div class="p-2">Enchérissez sur chaque produit en cliquant sur le bouton "valider"</div>
                        <div class="p-2">Une fois que vous avez fini d'entrer vos prix, cliquez sur "cloturer" pour envoyer vos prix à la centrale</div>
                    </div>
                </div>
            </div>
            <thead>
            <tr>
                <label>
                    <input type="text" value="recherche produits" class="w-vh-33-sm" style="float:left;" data-role="input" data-search-button="true">
                </label>
                <th><strong>Liste des Produits</strong></th>
                <th><strong>Quantité</strong></th>
                <th><strong>Enchere</strong>
                    <button id="cloreEncheres" class="button success outline small rounded btnCloreEnchere" style="float: right">Clore l'enchère</button>
                </th>
                <th><strong>Votre Position</strong></th>
            </tr>
            </thead>
            <tbody>
            {% for lignePanier in lignesPaniers %}
                <tr class="enchere_tr">
                    <td>{{ lignePanier.reference }}</td>
                    <td>{{ lignePanier.quantite }}</td>
                    <td>
                        {%  set prix = 0 %}
                        {%  set couleur = "rouge" %}
                        {%  if lignePanier.encheres is not empty %}
                            {%  set prix = lignePanier.encheres[0].prixEnchere %}
                            {%  set couleur = lignePanier.encheres[0].couleur %}
                        {% endif %}
                        <div class="enchere">
                            <input class="w-50" id="lignePanier_{{ lignePanier.id }}" type="number" data-role="input" data-prepend="Saissez votre nouvelle enchère: " data-default-value="{{ prix }} "/>
                            <button id="valider_{{ lignePanier.id }}" class="button success outline small rounded btnEnchere" style="float: right" >valider</button>
                        </div>
                    </td>
                    <td class="pastille_td"><div id="pastille_{{ lignePanier.id }}" class="cercle_{{ couleur }}"></div></td>
                </tr>
            {%  endfor  %}
            </tbody>
        </table>
    </div>
    <script src="{{ asset('assets/js/enchere.js') }}"></script>
{% endblock %}
